@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

* {
  font-family: monospace;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #recommendation {
    font-size: 31px;
  }

  #collapse_img1 {
    max-width: 100%;
    width: 100%;
  }
  #collapse_img2 {
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
    padding: 10%;
  }

  #topSection #textDiv #btn_div {
    display: flex;
  }

  .navbar .nav-item .dropdown-menu {
    background-color: rgba(18, 25, 36, 0.527);
  }
  .navbar .nav-item .dropdown-menu .dropdown-item {
    color: white;
  }
  #mainmenu {
    background-color: rgba(18, 25, 36, 0.527);
  }
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item .dropdown-menu li .dropdown-menu {
    display: none;
  }
  .navbar .nav-item .dropdown-menu li:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 20px;
  }
  #topSection #textDiv h5 {
    color: #f60;
    font-size: 20px;
    font-weight: bold;
    font-family: "Nunito";
  }
  #textDiv {
    padding-left: 100px;
  }

  #topSection #textDiv p {
    font-size: 22px;
    color: #f60;
  }
  #topSection #textDiv h1 {
    font-weight: 900;
    font-size: 70px;
    font-family: "Josefin Sans";
  }
  #topSection #textDiv {
    position: absolute;
    top: 25%;
  }
  /* btn_interested */
  #topSection #textDiv #btn_div #btn_interested {
    --c: rgb(255, 255, 255);
    color: var(--c);
    font-size: 16px;
    border: #f60;
    background-color: #f60;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
  }
  #topSection #textDiv #btn_div #btn_interested span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }
  #topSection #textDiv #btn_div #btn_interested:hover {
    color: black;
  }

  #topSection #textDiv #btn_div #btn_interested span:nth-child(1) {
    --n: 1;
  }
  #topSection #textDiv #btn_div #btn_interested span:nth-child(2) {
    --n: 2;
  }
  #topSection #textDiv #btn_div #btn_interested span:nth-child(3) {
    --n: 3;
  }
  #topSection #textDiv #btn_div #btn_interested span:nth-child(4) {
    --n: 4;
  }

  #topSection #textDiv #btn_div #btn_interested:hover span {
    transform: translateY(0) scale(2);
  }

  /* btn_inqury */
  #topSection #textDiv #btn_div #btn_inqury {
    --c: #f60;
    color: var(--c);
    font-size: 16px;
    border: #f60;
    background-color: white;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
  }
  #topSection #textDiv #btn_div #btn_inqury span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }
  #topSection #textDiv #btn_div #btn_inqury:hover {
    color: white;
  }

  #topSection #textDiv #btn_div #btn_inqury span:nth-child(1) {
    --n: 1;
  }
  #topSection #textDiv #btn_div #btn_inqury span:nth-child(2) {
    --n: 2;
  }
  #topSection #textDiv #btn_div #btn_inqury span:nth-child(3) {
    --n: 3;
  }
  #topSection #textDiv #btn_div #btn_inqury span:nth-child(4) {
    --n: 4;
  }

  #topSection #textDiv #btn_div #btn_inqury:hover span {
    transform: translateY(0) scale(2);
  }
}
@media all and (max-width: 576px) {
  #recommendation {
    font-size: 10px;
  }
  #collapse_img1 {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #mainmenu {
    background-color: rgba(18, 25, 36, 0.527);
  }
  #topSection #textDiv {
    position: absolute;
    top: 15%;
    text-align: center;
  }
  #topSection div h5 {
    color: #f60;
    font-size: 15px;
    font-weight: bolder;
    font-family: "Courier New", Courier, monospace;
  }
  #topSection #textDiv p {
    font-size: 22px;
    color: #f60;
  }
  #topSection div h1 {
    font-size: 34px;
  }
  .navbar .nav-item .dropdown-menu {
    background-color: rgba(18, 25, 36, 0.527);
  }
  .navbar .nav-item .dropdown-menu .dropdown-item {
    color: white;
  }
  #topSection #textDiv #btn_div {
    flex-direction: column;
  }
  #topSection #textDiv #btn_div #btn_interested {
    border: #f60;
    background-color: #f60;
    width: 170px;
    height: 50px;
    border-radius: 25px;
  }

  #topSection #textDiv #btn_div #btn_inqury {
    margin-top: 50px;
    border: #f60;
    background-color: white;
    color: black;
    width: 110px;
    height: 50px;
    border-radius: 25px;
  }

  #collapse_img1 {
    max-width: 100%;
    width: 100%;
  }
  #collapse_img2 {
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
    padding: 10%;
  }
}
@media all and (min-width: 1200px) {
  .counterDiv{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #recommendation {
    font-size: 31px;
  }

  #collapse_img1 {
    max-width: 100%;
    width: 100%;
    margin-left: -10px;
  }
  #collapse_img2 {
    max-width: 100%;
    width: 100%;
    margin-left: -50%;
  }

  #popularCourse {
    padding: 100px;
  }

  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item .dropdown-menu li .dropdown-menu {
    display: none;
  }
  .navbar .nav-item .dropdown-menu li:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 20px;
  }
  #topSection #textDiv h5 {
    color: #f60;
    font-size: 20px;
    font-weight: bold;
    font-family: "Nunito";
  }
  #textDiv {
    padding-left: 100px;
  }

  #topSection #textDiv p {
    font-size: 22px;
    color: #f60;
  }
  #topSection #textDiv h1 {
    font-weight: 900;
    font-size: 70px;
    font-family: "Josefin Sans";
  }
  #topSection #textDiv {
    position: absolute;
    top: 25%;
  }

  #topSection #textDiv #btn_div {
    display: flex;
  }

  /* btn_interested */
  #topSection #textDiv #btn_div #btn_interested {
    --c: rgb(255, 255, 255);
    color: var(--c);
    font-size: 16px;
    border: #f60;
    background-color: #f60;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
  }
  #topSection #textDiv #btn_div #btn_interested span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }
  #topSection #textDiv #btn_div #btn_interested:hover {
    color: black;
  }

  #topSection #textDiv #btn_div #btn_interested span:nth-child(1) {
    --n: 1;
  }
  #topSection #textDiv #btn_div #btn_interested span:nth-child(2) {
    --n: 2;
  }
  #topSection #textDiv #btn_div #btn_interested span:nth-child(3) {
    --n: 3;
  }
  #topSection #textDiv #btn_div #btn_interested span:nth-child(4) {
    --n: 4;
  }

  #topSection #textDiv #btn_div #btn_interested:hover span {
    transform: translateY(0) scale(2);
  }

  /* btn_inqury */
  #topSection #textDiv #btn_div #btn_inqury {
    --c: #f60;
    color: var(--c);
    font-size: 16px;
    border: #f60;
    background-color: white;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
  }
  #topSection #textDiv #btn_div #btn_inqury span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }
  #topSection #textDiv #btn_div #btn_inqury:hover {
    color: white;
  }

  #topSection #textDiv #btn_div #btn_inqury span:nth-child(1) {
    --n: 1;
  }
  #topSection #textDiv #btn_div #btn_inqury span:nth-child(2) {
    --n: 2;
  }
  #topSection #textDiv #btn_div #btn_inqury span:nth-child(3) {
    --n: 3;
  }
  #topSection #textDiv #btn_div #btn_inqury span:nth-child(4) {
    --n: 4;
  }

  #topSection #textDiv #btn_div #btn_inqury:hover span {
    transform: translateY(0) scale(2);
  }
}

.navbar .nav-item .dropdown-menu li .dropdown-menu {
  border: 1px solid black;
  position: absolute;
  left: -230px;
  top: 10px;
}

#mainmenu > ul {
  font-family: "Jost", sans-serif;
}

#mainmenu > ul > li > a {
  font-size: 19px;
  color: rgb(216, 216, 216);
  cursor: pointer;
}

#mainmenu > ul > li > a:hover {
  color: white;
}

#mainmenu > ul > li {
  padding: 0.5rem;
  font-weight: 500;
  color: white;
}

.navbar-brand > p {
  font-size: 30px;
  letter-spacing: 2px;
  color: rgb(237, 112, 45);
}

#topSection {
  height: 800px;
  background: linear-gradient(rgba(22, 33, 46, 0.5), rgba(18, 25, 36, 0.527)),
    url(../img/nav-background.jpeg);
  background-size: cover;
  background-position: center center;
}

.nav-item > button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #f60;
  border: #f60;
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.nav-item > button:hover {
  background-color: white;
  color: #f60;
}

.dropdown-item {
  padding: 6px 30px 6px 12px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #f60;
  background-color: white;
  cursor: pointer;
}

#projectManagement {
  background: linear-gradient(rgba(22, 33, 46, 0.5), rgba(18, 25, 36, 0.527)),
    url(../img/street-sign.jpeg);
  background-size: 500px 500px;
  background-position: center center;
}

#agileTransformation {
  background: linear-gradient(rgba(22, 33, 46, 0.5), rgba(18, 25, 36, 0.527)),
    url(../img/working-1.jpeg);
  background-size: 500px 500px;
  background-position: center center;
}

#itServiceManagement {
  background: linear-gradient(rgba(22, 33, 46, 0.5), rgba(18, 25, 36, 0.527)),
    url(../img/working2.jpeg);
  background-size: 500px 500px;
  background-position: center center;
}
/* agileTransformation  */

#agileTransformation #textDiv1 h3 {
  color: white;
}

#agileTransformation #textDiv1 p {
  color: #adadad;
  font-size: 18px;
}
/* projectManagement */

#projectManagement #textDiv1 h3 {
  color: white;
}

#projectManagement #textDiv1 p {
  color: #adadad;
  font-size: 18px;
}
/* itServiceManagement  */

#itServiceManagement #textDiv1 h3 {
  color: white;
}

#itServiceManagement #textDiv1 p {
  color: #adadad;
  font-size: 18px;
}

#popularCourse {
  background: url(../img/bg-popular-course.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
}

/* first row */
#popularCourse .popularCourse_catalog .column1 {
  background-color: red;
  position: relative;
  background: url(../img/working2.jpeg);
  background-repeat: no-repeat;
  background-size: 440px 530px;
  background-position: center center;
}

#popularCourse .popularCourse_catalog .column2 {
  position: relative;
  background: url(../img/presentation.jpeg);
  background-repeat: no-repeat;
  background-size: 440px 530px;
  background-position: center center;
}

#popularCourse .popularCourse_catalog .column3 {
  position: relative;
  background: url(../img/working-1.jpeg);
  background-repeat: no-repeat;
  background-size: 440px 530px;
  background-position: center center;
}

/* second row */
#popularCourse .popularCourse_catalog .column4 {
  position: relative;
  background: url(../img/street-sign.jpeg);
  background-repeat: no-repeat;
  background-size: 440px 530px;
  background-position: center center;
}

#popularCourse .popularCourse_catalog .column5 {
  position: relative;
  background: url(../img/two.jpeg);
  background-repeat: no-repeat;
  background-size: 440px 530px;
  background-position: center center;
}

#popularCourse .popularCourse_catalog .column6 {
  position: relative;
  background: url(../img/working2.jpeg);
  background-repeat: no-repeat;
  background-size: 440px 530px;
  background-position: center center;
}

#popularCourse .popularCourse_catalog .column1,
.column2,
.column3,
.column4,
.column5,
.column6:hover {
  cursor: pointer;
}

#popularCourse .popularCourse_catalog .column1 .textDiv_popularCourse {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
}

#popularCourse .popularCourse_catalog .column2 .textDiv_popularCourse {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
}

#popularCourse .popularCourse_catalog .column3 .textDiv_popularCourse {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
}
#popularCourse .popularCourse_catalog .column4 .textDiv_popularCourse {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
}
#popularCourse .popularCourse_catalog .column5 .textDiv_popularCourse {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
}
#popularCourse .popularCourse_catalog .column6 .textDiv_popularCourse {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
}
#popularCourse .textDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.2s linear;
  opacity: 0;
}

#popularCourse .col1 {
  border: 1px solid white;
  position: relative;
  background: url(../img/presentation.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

#popularCourse .col1:hover {
  background: linear-gradient(rgba(22, 33, 46, 0.5), rgba(18, 25, 36, 0.527)),
    url(../img/presentation.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#popularCourse .col1:hover .textDiv {
  bottom: 10%;
  opacity: 1;
}

#popularCourse .col2 {
  border: 1px solid white;
  position: relative;
  background: url(../img/working-1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

#popularCourse .col2:hover {
  background: linear-gradient(rgba(22, 33, 46, 0.5), rgba(18, 25, 36, 0.527)),
    url(../img/working-1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#popularCourse .col2:hover .textDiv {
  bottom: 10%;
  opacity: 1;
}

#popularCourse .col3 {
  border: 1px solid white;
  position: relative;
  background: url(../img/working2.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

#popularCourse .col3:hover {
  background: linear-gradient(rgba(22, 33, 46, 0.5), rgba(18, 25, 36, 0.527)),
    url(../img/working2.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#popularCourse .col3:hover .textDiv {
  bottom: 10%;
  opacity: 1;
}

#personTaker a:hover {
  color: #f60;
}

.card-body {
  height: 100px;
  width: 80%;
  background-color: white;
  margin-top: -10%;
  border: 1px solid black;
}
.card {
  border: 0px;
  margin: 5px;
}

#custom-indicator {
  width: 15px;
  height: 15px;
  background-color: #f60;
  border-radius: 100%;
}

.carousel-indicators {
  margin-bottom: -1rem;
}

#footer_aboutUs_ul {
  list-style: none;
}

#footer_aboutUs_ul li {
  padding: 0.5rem;
}
#footer_aboutUs_ul li a {
  color: #f60;
  font-size: 18px;
  font-family: "jost";
}
#footer_aboutUs_ul li a:hover {
  color: white;
}

@media (max-width: 767px) {
  #recipeCarousel .carousel-inner .carousel-item > div {
    display: none;
  }

  #recipeCarousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

#recipeCarousel .carousel-inner .carousel-item.active,
#recipeCarousel .carousel-inner .carousel-item-next,
#recipeCarousel .carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  #recipeCarousel .carousel-inner .carousel-item-end.active,
  #recipeCarousel .carousel-inner .carousel-item-next {
    transition: 0.2 linear;
    transform: translateX(33.33%);
  }

  #recipeCarousel .carousel-inner .carousel-item-start.active,
  #recipeCarousel .carousel-inner .carousel-item-prev {
    transition: 0.2 linear;
    transform: translateX(-33.33%);
  }
}

#recipeCarousel .carousel-inner .carousel-item-end,
#recipeCarousel .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

#recipeCarousel .card-body {
  height: 100px;
  width: 80%;
  background-color: white;
  margin-top: -10%;
  border: 1px solid black;
}

#recipeCarousel #custom-indicator {
  width: 15px;
  height: 15px;
  background-color: #f60;
  border-radius: 100%;
}

#recipeCarousel .card {
  border: 0px;
  margin: 5px;
}

.counterDiv .columns {
  position: relative;
}

.counterDiv h1 {
  font-size: 3rem;
  color: aliceblue;
  font-weight: bold;
}

.counterDiv .textDiv::after {
  position: absolute;
  content: "";
  border: 1px solid #ff6600;
  width: 100px;
  bottom: 5%;
}

.counterDiv {
  background: url(../img/one.jpeg);
  background-size: cover;
}
